[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  color: #777;
  transition:all 0.5s ease;
  width: 100vw;
  font-family: 'Questrial', sans-serif;
}

.container-fluid {
  padding: 1%;
}
/* login screen background image */
.background {
    background: url("../images/city_shoes-resized.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
    background-size: cover;
    background-color: rgb(194, 159, 31);
    background-blend-mode: multiply;
}

.error-message{
  padding: 1em;
  background-color: rgba(254, 254, 254, 0.6);
  color: rgb(224, 61, 16);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);

}
.fill-background {
  min-height: 100vh;
}

.test {
  margin-top: 10%;
}

.test-app {
  padding: 5%;
  background-color: rgba(0, 0, 0, .6);
}

#loading-bar .bar {
  background: #eee;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #eee;
  border-left-color: #eee;
}
#loading-bar .peg {
  -moz-box-shadow: #eee 1px 0 6px 1px;
  -ms-box-shadow: #eee 1px 0 6px 1px;
  -webkit-box-shadow: #eee 1px 0 6px 1px;
  box-shadow: #eee 1px 0 6px 1px;
}

.loading-spinner {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

.analytics {
  margin: 3%;
}

.about-text {
  margin-top:3%
}
.city-wise-logo-welcome {
  width: 100%;
}

.login-text {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .9);
  text-align: center;
}

h2.login-text.about-text {
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 200%;
}

p.about-text {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.4em;
  line-height: 200%;
}

.login-inverse {
  size: 1.2em;
  margin-top: 1%;
  padding: 5px;
  background-color: rgba(0, 0, 0, .7);
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .9);
}

ul li {
  text-decoration: none;
  list-style-type: none;
}
.login-text-list{
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .9);

}

.signup-form {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .9);
}

.btn-yellow {
  margin-top: 3%;
  background-color:  #ffc900;
  color: #444;
}

a:hover{
  text-decoration: none;
}

a:focus{
  text-decoration: none;
}

.wiseup-row{
  border: 2px solid rgb(214, 214, 214);
  border-radius: 5px;
}

  .logo {
    height: 35px;
    padding-bottom: 10px;
  }

  .city-wise-logo {
    padding-top: 5%;
    height: 80%;
  }

.about-page-nav>nav.navbar {
  margin-bottom: 0;
}

a.about-link {
  color: #ffc900;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .9);
}

a.about-link:hover {
  color: rgb(153, 122, 8);
}

.selected {
  color: red;
}
.navbar {
  position: relative;
  background-color: #ffc900;
  border: none;
}


.nav>li>a {
  padding-right: 20px;
}

.navbar-nav>li>a{
  margin:0;
  color: #666;
  height: 100%;
  padding-top: 18px;
  padding-bottom: 12px;
  font-size: 1.2em;
}


.navbar-brand {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    margin-top: .2em;
    margin-left: 45%;
    padding:0;
}

.navbar-toggle {
    z-index:1;
}

.form-inline {
  margin-right: 1%;
  color:#444;
}

.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
    padding-left:0;
}

.wiseup-container{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.heading-container{
  margin-top: 2.5%;
}

.img-small {
  height:50px;
}

.wiseup-display {
  text-align: center;
}

.wiseup-card {
  min-height: 250px;
  margin-top: 3%;
  margin-right: 3%;
  background-color: #eee;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.card-issue {
  max-height: 100px;
  overflow-y: auto;
}

.item-row{
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2%;
}

.item-img{
  border-radius: 8px;
  width: 90%;
}

.item-scroll-vertical {
  max-width: 100%;
  max-height: 75px;
  overflow-y: auto;
}

.strikethrough{
  text-decoration: line-through;
}

.button-row {
  margin-bottom:5%;
}

.btn-warning {
  background-color: orange;
  border: #444;
  color: #444;
}


.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    background-color: orange;
    border: #444;
    color: #444;
}

.btn-warning.active, .btn-warning.active:focus, .btn-warning.active:hover  {
    background: orange;
    box-shadow: none;
}


.yellow-highlight {
  color: rgb(222, 173, 0)
}

a.yellow-highlight:hover{
  color: rgb(180, 141, 5);
}

a.yellow-highlight:focus{
  color: rgb(180, 141, 5);
}

a>h4.yellow-highlight:hover{
  color: rgb(180, 141, 5);
}

h4.yellow-highlight {
  font-size: 1em;
}

.greeting {
  border: 2px solid #b9b7b7;
  border-radius: 8px;
}

.map-container {
  margin-top: 2.5%;
}
.views-container {
  margin-top: 2.5%;

}

chasing-dots-spinner {
  color: white;
}
div.spinner>chasing-dots-spinner{
  color: white;
}

.loading-title {
  color: white;
}
.views {
  color:rgb(222, 173, 0);
}

.views:hover{
  color: rgb(180, 141, 5);
}

.category-column {
  padding-top: 1%;
}
.selection{
  margin-top: 5%;
}
.close {
  font-size: 2.8em;
}

.modal-backdrop {
opacity: .5 !important;
}

.modal-img {
  max-width: 350px;
  /*margin-left: 10%;*/
}


#map {
  height: 75vh;
}

#smMap {
  height: 350px;
  width: 350px;
  margin: auto;
  /*margin-right: 10%;*/
}

.item-details {
  margin-left: 2%;
  margin-top: 1%;
}

.iw-container {
   width: 200px;
   height: 100%;
   padding: 10px;
   color: gray;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

.iw-container>p {
  font-size: 1.2em;
}

.iw-title {
  font-size: 22px;
  width: 100%;
  background-color: #ffc900;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
}

.iw-image {
  float:left;
  margin-right: 10px;
  border: 3px solid #b9b7b7;
  border-radius: 5px;

}

/*
animation for cards*/
.grow:hover
{
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
}


/* animation for view */
.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}
/*alternate animation*/

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}


@media only screen and (max-width: 1040px){
  .views {
    font-size: .8em;
  }

  .category {
    font-size: .8em;
  }
}

@media only screen and (max-width: 960px){
  .views {
    font-size: .6em;
  }
  .category {
    font-size: .7em;
  }
}

@media only screen and (max-width: 640px){
  div.background {
    min-height: 900px;
    }

  p.login-text{
    font-size: 1.5em;
  }
  h2#simple {
    font-size: 1.8em;
  }
  li.login-text-list{
    font-size: 1em;
    text-align: left;
  }
  h1.login-text {
    font-size: 2em;
  }
  ul {
    padding-left: 10%;
  }

  h2.login-inverse{
    font-size: 1.3em;
  }
  div.button-mobile {
    margin-bottom: 5%;
  }
}


@media only screen and (max-width: 368px)
{
	.background
	{
		min-height: 500px;
	}
}
