[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  color: #777;
  transition:all 0.5s ease;
  width: 100vw;
  font-family: 'Questrial', sans-serif;
}

.container-fluid {
  padding: 1%;
}
/* login screen background image */
.background {
    background: url("../images/city_shoes-resized.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    background-color: rgb(153, 122, 8);
    background-blend-mode: multiply;
    background-size: cover;
}

.city-wise-logo-welcome {
  width: 100%;
}

.login-text {
  color: rgb(228, 209, 157);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .9);
  text-align: center;
}

.login-inverse {
  margin-top: 1%;
  padding: 5px;
  background-color: rgba(0, 0, 0, .7);
  color: rgb(228, 209, 157);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .9);
}

.login-text-list{
  font-size: 1.5em;
  color: rgb(228, 209, 157);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .9);
}

.btn-yellow {
  margin-top: 3%;
  background-color:  #ffc900;
  color: #444;
}

a:hover{
  text-decoration: none;
}

a:focus{
  text-decoration: none;
}

.wiseup-row{
  border: 2px solid rgb(214, 214, 214);
  border-radius: 5px;
}

  .logo {
    height: 35px;
    padding-bottom: 10px;
  }

  .city-wise-logo {
    padding-top: 1%;
    height: 80%;
  }

.navbar {
  position: relative;
  background-color: #ffc900;
  border: none;
}

/*nav {
  margin:0;
  padding: 0;
  height: 100%;
}*/

/*.navbar-nav {
  margin:0;
  height: 100%;
}*/

/*.navbar-nav>li {
  margin:0;
}*/

.nav>li>a {
  padding-right: 20px;
}

.navbar-nav>li>a{
  margin:0;
  color: #666;
  height: 100%;
  padding-top: 18px;
  padding-bottom: 12px;
  font-size: 1.2em;
}

/*.navbar-nav > li > a:hover{
  background-color: #eebc02;
  margin:0;
}*/

.navbar-brand {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    margin-left: 45%;
    padding:0;
}

.navbar-toggle {
    z-index:1;
}

.wiseup-container{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.heading-container{
  margin-top: 2.5%;
}

.img-small {
  height:50px;
}

.wiseup-display {
  text-align: center;
}

.wiseup-card {
  min-height: 250px;
  margin-top: 3%;
  margin-right: 3%;
  background-color: #eee;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.card-issue {
  max-height: 100px;
  overflow-y: auto;
}

.item-row{
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2%;
}

.item-img{
  border-radius: 8px;
  width: 90%;
}

.item-scroll-vertical {
  max-width: 100%;
  max-height: 75px;
  overflow-y: auto;
}

.strikethrough{
  text-decoration: line-through;
}

.button-row {
  margin-bottom:5%;
}

.btn-warning {
  background-color: orange;
  border: #444;
  color: #444;
}


.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    background-color: orange;
    border: #444;
    color: #444;
}

.btn-warning.active, .btn-warning.active:focus, .btn-warning.active:hover  {
    background: orange;
    box-shadow: none;
}


.yellow-highlight {
  color: rgb(222, 173, 0)
}

a.yellow-highlight:hover{
  color: rgb(180, 141, 5);
}

a.yellow-highlight:focus{
  color: rgb(180, 141, 5);
}

a>h4.yellow-highlight:hover{
  color: rgb(180, 141, 5);
}
.greeting {
  border: 2px solid #b9b7b7;
  border-radius: 8px;
}

.views-container {
  margin-top: 2.5%;

}

.views {
  color:rgb(222, 173, 0);
}

.views:hover{
  color: rgb(180, 141, 5);
}

.selection{
  margin-top: 30%;
}

.modal-img{
  width: 80%;
  margin-left: 10%;
}

#map {
  height: 75vh;
}

.iw-container {
   width: 200px;
   height: 100%;
   padding: 10px;
   color: gray;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

.iw-container>p {
  font-size: 1.2em;
}

.iw-title {
  font-size: 22px;
  width: 100%;
  background-color: #ffc900;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
}

.iw-image {
  float:left;
  margin-right: 10px;
  border: 3px solid #b9b7b7;
  border-radius: 5px;

}

/*
animation for cards*/
.grow:hover
{
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
}

/* animation for view */
.view-animate-container {
  position:relative;
  height:100vh;
  /*background:white;*/
  /*border:1px solid black;*/
  /*height:40px;*/
  overflow:hidden;
}

.view-animate {
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;
  border-left:1px solid black;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}
