<div class="container-fluid background" style="height: 100vh">
  <div class="row" style="margin-top:-15px;"><nav-display class="about-page-nav"></nav-display></div>

  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="login-text about-text">CityWise was built by <a href="http://www.stephanieogburn.com" class="about-link" target="_blank">Stephanie Ogburn</a> for a final project after attending a 6-month Full Stack Web Development program at Galvanize.</h2>
    <p class="login-text about-text">The idea behind CityWise is to crowdsource reporting of typical urban infrastructure problems. <br> Cities have significant resources they must maintain. But there's not a great way track the state of these resources. <br />CityWise solves this problem by allowing citizens to use their phones to submit WiseUps when they encounter a problem or an issue.</p>
    <p class="login-text about-text">
      Want to learn more? Want to see my other projects? <br>Check out my <a class="about-link" target="_blank" href="http://www.stephanieogburn.com">website</a> and get in touch!
    </p>
  </div>
</div>
