<nav-display></nav-display>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 greeting"><h4>You have <span class="yellow-highlight">{{DC.wiseups.fixed.length}}</span> fixed WiseUps as of <span class="yellow-highlight">{{DC.currentDate | amDateFormat:'dddd, MMMM Do YYYY' }}</span></h4> </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4 views-container">
      <span class="h4"><a class="views" href="#/dashboard">List view</a> |</span>
      <span class="h4"><a class="views" href="#/card">Card view</a></span>
      </div>
      <div class="col-md-5 col-md-offset-3 col-sm-6 col-sm-offset-2 col-xs-6 col-xs-offset-2 views-container text-right">
      <span class="h4"><a class="views" href="#/fixed">View Fixed</a> |</span>
      <span class="h4"><a class="views" href="#/archived">View Archived</a> |</span>
      <span class="h4"><a href="#/analytics" class="views">View Analytics</a></span>
      </div>
    </div>
    <fixed-list></fixed-list>
</div>
