<div class="container-fluid background" style="height: 100vh">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
      <div class="row">
        <div class="col-md-6 col-md-offset-3"><img src="../images/citywise-logo-opt-inverse.svg" alt="CityWise logo" class="city-wise-logo-welcome"></div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12"><h3 class="login-text">Managing a city is hard work. So why not let your residents help you out?</h3>

          <h1 class="login-inverse" style="display: inline-block;">It's simple.</h1>


          <h3 class="login-text">They download the CityWise app. If they see a problem, they report it.</h3>
          <h3 class="login-text">You log in to your dashboard to instantly see their reports. </h3>
          <div class="row">
            <div class="col-md-2">
              <h4 class="login-text">You can:</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <ul>
                <li class="login-text-list">View WiseUps as a map</li>
                <li class="login-text-list">View WiseUps as a list</li>
            </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <ul>
                <li class="login-text-list">Mark WiseUps as fixed</li>
                <li class="login-text-list">Archive WiseUps</li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <h2 class="login-inverse" style="display: inline-block">Ready to learn more?
              </h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <h2 class="login-inverse" style="display: inline-block">Already a member?
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <button class="btn btn-lg btn-yellow">Email a CityWise representative</button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <a href="#/signin"><button class="btn btn-lg btn-yellow">Sign In</button></a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

</div>
