<div class="container-fluid background fill-background">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
      <div class="row" style="margin-top: 4%">
        <div class="col-md-6 col-md-offset-3"><img src="../images/citywise-logo-opt-inverse.svg" alt="CityWise logo" class="city-wise-logo-welcome"></div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center"><h3 class="login-text">Managing a city is hard work. So why not let your residents help you out?</h3>
          <div class="row">
            <div class="col-md-4 col-sm-10 col-xs-10 col-md-offset-4 col-sm-offset-1 col-xs-offset-1">
              <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                <h2 id="simple" class="login-inverse" style="display: inline-block;">It's simple.</h2>
                </div>
              </div>

            </div>
          </div>



          <h3 class="login-text">The CityWise app lets citizens quickly and easily report problems.</h3>
          <h3 class="login-text">You can log in to your dashboard to instantly see their reports. </h3>
          <div class="row" style="margin-top: 5%; margin-bottom: 5%;">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <ul>
                <li class="login-text-list"># View WiseUps as a map</li>
                <li class="login-text-list"># View WiseUps as a list</li>
            </ul>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <ul>
                <li class="login-text-list"># Mark WiseUps as fixed</li>
                <li class="login-text-list"># Archive WiseUps</li>
              </ul>
            </div>
          </div>

          <div class="row" style="margin-bottom:10%;">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <h2 class="login-inverse login-inverse-mobile" style="display: inline-block">Ready to learn more?
              </h2>
              <div class="row button-mobile">
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                  <a href="#/signup">
                    <button class="btn btn-lg btn-yellow">Email CityWise</button>
                  </a>
              </div>
            </div>
          </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <h2 class="login-inverse" style="display: inline-block">Already a member?
              </h2>
              <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                  <a href="#/signin"><button class="btn btn-lg btn-yellow">Sign In</button></a>
                </div>
              </div>
            </div>


        </div>
      </div>
    </div>
  </div>

</div>
