<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-5 col-sm-offset-5 col-xs-offset-5">
      <span><a class="yellow-highlight" href="" ng-click="DC.filtered ='utilities'">Utilities</a> | <a class="yellow-highlight" href="" ng-click="DC.filtered ='parks'">Parks</a> | <a class="yellow-highlight" href="" ng-click="DC.filtered ='roads'">Roads</a>  | <a class="yellow-highlight" href="" ng-click="DC.filtered ='transit'" > Public Transit</a> | <a href="" class="yellow-highlight" ng-click="DC.filtered =''" >All</a></span>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search Wiseups" ng-model="DC.searchWiseups">
          </div>
        </div>
      </form>
    </div>
  </div>

    <div class="container">
      <div class="col-md-5 col-sm-5 col-xs-5 wiseup-card grow" ng-repeat="item in DC.currentWiseups | filter:DC.searchWiseups | filter:DC.filtered" ng-click="DC.showImageModal(item)">
        <div class="row">
        <div class="col-md-7 col-sm-7 col-xs-7">
          <img class="item-img" ng-src="{{item.photo_url}}" alt="submitted image">
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">
          <div class="col-md-12 col-sm-12 col-xs-12 item"><h4 class="card-issue">{{item.issue}}</h4></div>
          <div class="col-md-12 col-sm-12 col-xs-12 item">{{item.category}}</div>
          <div class="col-md-12 col-sm-12 col-xs-12 item small">{{item.created_at | amDateFormat:'MMMM Do YYYY' }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
