<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <h4 ng-class="{'strikethrough':item.is_fixed}" class="item-scroll-vertical">{{item.issue}}</h4>
        </div>

      </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6"><img ng-src="{{item.photo_url}}" class="modal-img" alt="issue image"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-8"><h4 ng-class="{'strikethrough':item.is_fixed}">Category: {{item.category}}</h4></div>
            </div>
            <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8"><h4 ng-class="{'strikethrough':item.is_fixed}">Date Submitted: {{item.created_at | amDateFormat:'MM/DD/YYYY' }}</h4></div>
            </div>
            <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8"><h4 ng-class="{'strikethrough':item.is_fixed}">Time Submitted: {{item.created_at | amDateFormat:'hh:mm a' }}</h4></div>
            </div>
            <div class="row selection">
              <div class="col-md-8 col-sm-8 col-xs-8">
                <span class="h4">Mark WiseUp as fixed?</span>
                <button class="btn" ng-hide="item.is_fixed" ng-click="fixWiseUp(item); updateFixed(item);">Yes</button>
                <button class="btn" ng-show="item.is_fixed" ng-click="fixWiseUp(item); undoFixed(item) ">Undo</button>
                <span class="h4">Archive WiseUp?</span>
                <button class="btn" ng-hide="item.is_archived" ng-click="archiveWiseUp(item); updateArchive(item)">Yes</button>

                <button class="btn" ng-click="archiveWiseUp(item); undoArchive(item)" ng-show="item.is_archived">Undo</button>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
