<!-- <nav class="navbar navbar-light bg-faded">
  <div class="container-fluid">
    <ul class="nav navbar-left">
      <li><a class="navbar-brand" href="#"><img src="../images/citywise-logo.svg" class="logo" alt=""></a>
      </li>
    </ul>

  <ul class="nav navbar-right navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">Logout</a>
    </li>
  </ul>
  </div>
</nav> -->

<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <a class="navbar-brand" href="#"><img src="../images/citywise-logo.svg" alt="CityWise logo" class="city-wise-logo" /></a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left">
        <li><a class="nav-link" href="#">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" class="nav-link">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
