<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <route-loading-indicator></route-loading-indicator>
  </div>
</div>
<div class="row" ng-hide="isRouteLoading">
  <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
        <form>
          <h1 class="login-text">Sign in to CityWise</h1>
          <div class="row form-group" ng-show="LC.error.show">
            <div class="col-md-12 col-sm-12">
              <h4 class="error-message">{{LC.error.message}}</h4>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="login-text">Enter your login email</label>
            <input type="email" class="form-control" id="email" ng-model="LC.signinInfo.email" placeholder="myname@cityname.gov">
          </div>
          <div class="form-group">
            <label for="password" class="login-text">Enter your password</label>
            <input type="password" class="form-control" id="password" ng-model="LC.signinInfo.password" placeholder="password">
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-3">
              <button type="submit" ng-click="LC.submit(LC.signinInfo)" class="btn btn-yellow">Log In</button>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <a href="/"><button class="btn btn-yellow">Home</button></a>
            </div>
          </div>

        </form>
        <div class="row test">
          <div class="col-md-12 col-sm-12 col-xs-12 test-app">
            <p class="login-text">To test out the app, you can use the following credentials:</p>
            <p class="login-text">Login: city@fortcollins.gov</p>
            <p class="login-text">Password: password</p>

          </div>
        </div>
  </div>
</div>
